:root {
    --site-color: rgb(95, 160, 215);
    --entry-color: rgba(19, 177, 75, 0.7);
}

body {
    background: linear-gradient(90deg, var(--site-color, lightskyblue), rgb(140, 226, 247)) !important;
}

.stars {
    position: absolute;
    background-color: white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.star-1 {
    left: 34em;
    animation-name: twinkle-1;
    animation-timing-function: ease-out;
}

.star-2 {
    left: 44.3em;
    animation-name: twinkle-2;
    animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
}

@keyframes twinkle-1 {
    50% {
        left: 33em;
    }
    100% {
        transform: scale(0.5);
        opacity: 0.5;
    }
  }

@keyframes twinkle-2 {
    50% {
        left: 45.3em;
    }
    100% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}

/* CSS Moon Graphic */
#moon {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 25px 10px 0px 0px white;
    z-index: 2;
}

/* CSS Heart Graphic 
   ::before added before selected element
   ::after added after selected element */
#heart {
    position: absolute;
    background-color: pink;
    top: 25px;
    left: 130px;
    height: 43px;
    width: 43px;
    transform: rotate(45deg);
    z-index: 2;
    animation: beating;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
#heart::after {
    position: absolute;
    top: -23px;
    height: 43px;
    width: 43px;
    background-color: pink;
    content: "";
    border-radius: 50%;
    z-index: 2;
}
#heart::before {
    position: absolute;
    right: 23px;
    height: 43px;
    width: 43px;
    background-color: pink;
    content: "";
    border-radius: 50%;
    z-index: 2;
}
@keyframes beating {
    0% {
        transform: scale(1) rotate(45deg);
    }
    50% {
        transform: scale(0.9) rotate(45deg);
    }
}

/* Changes text color of site logo when hovering over it */
.site-logo-link:hover {
    animation: logo;
    animation-duration: 1s; /* Change happens within set time */
    animation-iteration-count: infinite; /* Infinitely re-iterates animation */
}
@keyframes logo {
    100% {
        color: blue;
    }
}

/* Changes text color of .change elements (nav links and author name) when hovering over them */
.change:hover {
    animation: colorful;
    animation-duration: 1s; /* Change happens within set time */
    animation-fill-mode: forwards; /* Ensures the text color remains changed while hovering */
}
@keyframes colorful {
    100% {
        color: blue;
    }
}

/* Overrides <a> CSS default values */
.links {
    color: white;
    text-decoration: unset; /* Rids of underlining */
}

#site-logo {
    position: relative;
    text-align: center;
    font-family: Lobster, monospace;
    font-weight: bold;
    font-size: 23px;
    transform: scale(0.95); /* Adjusts size by % */
    margin-top: 5px;
    transform: skewX(10deg); /* Makes cursive font (Lobster) normal */
    z-index: 1;
}

/* Changes size of site logo when hovering over it */
#site-logo:hover {
    transform: scale(1.1);
}

#nav-bar {
    position: fixed;
    top: 34px; /* px below browser window */
    width: 100%; /* Stretches out to the entire page */
    background-color: #333;
    text-align: center;
    z-index: 1;
}

nav ul {
    padding: 9px;
}

nav li {
    display: inline;
    padding: 4px;
}

.entries {
    background-color: green; /* Backup in case var doesn't work */
    background-color: var(--entry-color, green);
    color: white; 
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 8px;
}

.left {
    position: absolute;
    top: 75px;
    left: 5%;
    float: left;
    width: 41%; /* Adjusts div container size */
}

.right {
    position: absolute;
    top: 75px; /* px from <html> box b/c nearest ancestor with relative positioning */
    left: 53%; /* % from <html> box */
    float: right;
    width: 41%; /* Adjusts div container size */
}

.entry-title {
    font-family: "Indie Flower", cursive;
    padding: 5px 10px 2px 5px;
    margin: 5px 5px 5px 5px;
    font-weight: bold;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.8) /* a is opacity 0-1 */
}

.entry-author {
    font-size: 15px;
    font-family: serif;
    padding: 0px 10px 5px 5px;
    margin: 0px 5px 3px 5px;
    opacity: 0.9; /* Adjusts opacity of element */
}

/* Overrides <a> CSS default values */
.name {
    color: black;
}

.entry-image {
    width: 500px;
    padding: 0px 5px 5px 5px;
    margin: 0px 5px 1px 5px;
}

.entry-text {
    font-size: 14px;
    font-family: Lato, sans-serif;
    padding: 0px 5px 0px 10px;
    margin: 0px 5px 0px 5px;
    line-height: 1.5em; /* Adjusts space between each line of text */
    color: rgba(0, 0, 0, 0.75); 
}

.entry-date {
    font-size: 10px;
    font-family: sans-serif;
    padding: 0px 10px 2px 5px;
    margin: 0px 5px 5px 5px;
    text-align: right;
}

[type='radio'] {
    margin: 20px 0px 20px 0px;
}

[type='checkbox'] {
    margin: 10px 0px 15px 0px;
}